.venv/
training/raw_data/
build/
bin/
out/
*.o
*.exe
*.so
*.a

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile


.vscode/
.idea/
.DS_Store

**/dataset/
**/frames/
**/training/raw_pos/
**/training/negative/
training/videos/

*.vec
*.dat
*.txt
*.lst


!augment_data.py
!unificar_dataset.py

__pycache__/
*.pyc
venv/
env/

.env

dataset_final/